.footer {
    background-color: #262626;
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    margin-top: 50px;
    padding: 0 80px;

    @media (max-width: 375px) {
        padding: 0 8px;
    }

    @media (max-width: 320px) {
        max-width: 100%;
    }

    .footerContainer {
        width: 1124px;
    }

    .logo {
        padding-top: 56px;

        padding-bottom: 40.31px;
    }
    .social {
        margin: -10px;
        margin-left: 6px;
    }

    &__Navi {
        padding: 32px 0 30px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        @media (max-width: 320px) {
            flex-direction: column;
        }

        @media (max-width: 375px) {
            flex-direction: column;
        }
    }

    &__Nav {
        @media (max-width: 375px) {
            padding-bottom: 39px;
        }

        @media (max-width: 320px) {
            padding-bottom: 39px;
        }
    }

    &__Apps {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        @media (max-width: 375px) {
            padding: 24px 0;
        }

        a {
            padding: 0 20px;
            @media (max-width: 375px) {
                padding: 0 12px;
            }
        }
    }

    &__Policy {
        display: flex;
    }

    &__About p {
        outline: none;
        color: white;
        font-size: 13px;
        font-weight: 400;
        padding-bottom: 23px;
    }

    a {
        text-decoration: none;
        :hover {
            color: #49a144;
        }
    }
    .hashtag {
        color: white;
        font-size: 16px;
        font-weight: 400;
        padding-top: 5px;
        padding-bottom: 27px;
    }
    span {
        color: #49a144;
    }

    select {
        margin: 0 0 22px 0;
        color: #fff;
        background-color: #3b3b3b;
        font-size: 13px;
        line-height: 15px;
        padding: 12px 128px 12px 48px;
        border: none;
        background-size: contain;
        background-position: center;
        appearance: none;
    }

    &__Policy {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        padding-top: 40px;

        @media (max-width: 375px) {
            flex-direction: column;
            padding: 40px 0;
        }

        a {
            @media (max-width: 375px) {
                padding: 15px 8px;
            }
        }
        p {
            outline: none;
            color: white;
            font-size: 11px;
            font-weight: 400;
        }
    }
}
