@import url("'https://fonts.googleapis.com/css2?family=Roboto&display=swap'");
* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    @media (max-width: 1124px) {
        max-width: 100%;
    }
    @media (max-width: 768px) {
        max-width: 768px;
    }
    @media screen and (max-width: 375px) {
        max-width: 375px;
    }
    @media (max-width: 320px) {
        max-width: 320px;
    }
}

@import "_header";
@import "_footer";

.container {
    margin: 0 auto;

    .banner {
        img {
            width: 100%;
        }
    }

    .restName {
        position: absolute;
        background-color: white;
        top: 114px;
        left: 81px;
        border:active {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        h1 {
            font-size: 36px;
            font-weight: 400;
            line-height: 42px;
            color: #1d1d1d;
            padding: 38px 38px 62px 38px;
        }
        h2 {
            font-size: 14px;
            font-weight: 400;
            color: #626262;
            line-height: 16, 41px;
            padding: 32px 0 30px;
        }

        span {
            font-size: 13px;
            font-weight: 400;
            color: #ffffff;
            line-height: 15, 23px;
            background-color: black;
            border-radius: 16px;
            padding: 8px 16px;
        }
    }
    .restInfo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .menuNav {
        ul {
            list-style: none;
            display: flex;
            margin: 32px 81px 0 29px;
        }
        li {
            padding: 0 40px;
            font-size: 16px;
            color: #626262;
        }
        a {
            text-decoration: none;
            :active {
                color: #327430;
            }
            :hover {
                color: #327430;
            }
        }
    }
}
.dish {
    margin: 0 auto;
    width: 1124px;

    .h1 {
        margin-top: 56px;
        margin-bottom: 32px;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        color: #1d1d1d;
    }

    span {
        font-size: 13px;
        line-height: 21px;
        color: #626262;
    }

    &__Card {
        width: 470px;
        height: 160px;
        display: flex;
        box-sizing: border-box;
        border: 1px solid rgba(117, 117, 117, 0.2);
        box-sizing: border-box;
        border-radius: 2px;
        justify-content: space-between;
        @media (max-width: 320px) {
            padding: 16px 0;
        }

        .text {
            padding: 16px 0 16px 16px;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__Cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
            justify-content: flex-start;
        }

        .block {
            display: flex;
        }

        .link {
            margin: 0 16px 49px 0;
            text-decoration: none;
            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background-color: #d8d8d8;
            }
        }
    }

    &__Name {
        font-size: 16px;
        font-weight: 400;
        color: #1d1d1d;
    }
    &__Value {
        font-size: 15px;
        font-weight: 500;
        margin-top: 83px;
        color: #1d1d1d;
    }

    &__Value-one {
        font-size: 15px;
        font-weight: 500;
        margin-top: 58px;
        color: #1d1d1d;
    }
}
